.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: sticky;
  z-index: 0;
  top: 0;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Center alignment for the search bar */
.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.search-form {
  width: 100%;
  max-width: 400px;
}

.search-container {
  display: flex;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.search-input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Right section for horizontal alignment */
.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-right .nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center; /* Ensures that all links are centered vertically */
}

.navbar-right .nav-links li {
  margin-left: 1.5rem; /* Add space between the links */
}

.navbar-right .nav-links a {
  font-size: 16px;  /* Ensuring same font size */
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}
