html, body {
  height: 100%; /* Ensure html and body take full height */
  margin: 0; /* Remove default margin */
}

.App {
  text-align: center;
  min-height:100vh; /* Make App take full height */
}

